<div class="content-wrapper">
  <h1><%= @article.title %></h1>
  <p class="post-times">Originally Posted:<%= @article.created_at.strftime("%A, %B %e, %Y @ %l:%M") %></p>
  <% if @article.updated_at != @article.created_at %>
    <p class="post-times">Last Updated:<%= @article.updated_at.strftime("%A, %B %e, %Y @ %l:%M") %></p>
  <% end %>
  <article class="body-text"><%= @article.body %></article>

  <ul class="article-change-options">
    <li id="edit-btn"><%= link_to "Edit", edit_article_path(@article) %></li>
    <li id="delete-btn"><%= link_to "Delete", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>

  <div class="comments-wrapper">
    <h2>Comments</h2>
    <% if @article.comments && @article.comments.any? %>
      <%= render @article.comments %>
    <% else %>
      <span class="none-of-type">No comments yet.</span>
    <% end %>
  </div>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>